.menu {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #f4f4f4;
  font-size: 20px;
}

.menu-cloum {
  margin-left: 20px;
}

.menu-red {
  color: red;
}

.menu-icon {
  font-size: 22px;
}

.play-img {
  width: 100%;
}

.play-clomn-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.play-clomn-cloum {
  display: flex;
  align-items: flex-start;
}

.play-clomn {
  margin-bottom: 30px;
  align-items: top;
}

.play-list-name .play-name {
  display: block;
}

.play-icon-img {
  display: block;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 25px;
}

.play-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.play-list-bottom {
  opacity: 0.6;
  font-size: 15px;
  margin-right: 5px;
}

.home a {
  text-decoration: none;
  color: black;
}
