.mylist-top {
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-bottom: 1px solid gray;
}

.mylist-top-contant {
  display: block;
  margin-bottom: 10px;
}

.top-contant {
  margin-left: 15px;
  font-size: 20px;
}

.mylist-smaill-video {
  margin-left: 15px;
}

.mylist-list {
  width: 100%;
  align-items: center;
  border-bottom: 1px solid gray;
}

.mylist-list-contant {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15px;
}

.mylist-list-contant i {
  opacity: 0.6;
  font-size: 25px;
  margin-right: 10px;
}

.mylist-last {
  margin-bottom: 20px;
}

.mylist-bottom {
  width: 100%;
  align-items: center;
}

.mylist-bottom-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
}

.mylist-bottom-top-left {
  margin-left: 15px;
}

.mylist-bottom-top-right {
  margin-right: 15px;
}

.mylist-bottom-list {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15px;
}

.mylist-bottom-list i {
  opacity: 0.6;
  margin-right: 10px;
}
