.nav {
  position: fixed;
  width: 100%;
  background-color: #ffff;
  padding: 5px 35px;
  bottom: 0px;
  left: 0px;
}

.nav .nav_list {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-list a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.nav1-name {
  display: block;
  font-size: 12px;
  text-align: center;
}

.nav__list-item {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav-item {
  width: 100%;
  text-align: center;
}
