@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import "reset.css";
@import "status.css";
@import "header.css";
@import "home.css";
@import "nav.css";
@import "quest.css";
@import "sub.css";
@import "message.css";
@import "mylist.css";
@import "setting.css";
@import "video.css";

* {
  box-sizing: border-box;
  font-family: "Balsamiq Sans";
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

main {
  animation: fadeIn 0.5s ease-in-out;
}
